@page "/Videos/Index"
@page "/Videos"

@using Dul.Web

@inject IVideoRepository _repository

<h3>Videos List</h3>
<div>
    <a href="/Videos/Create" class="btn btn-primary">Create</a>
</div>

@if (videos == null)
{
    <p>Loading...</p>
}
else if (videos.Count == 0)
{
    <p>No Data...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>URL</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var video in videos)
            {
                <tr>
                    <td>@video.Id</td>
                    <td>@video.Title</td>
                    <td><a href="@video.Url">@video.Url</a></td>
                    <td>
                        <a href="/Videos/Details/@video.Id">Details</a>
                        <a href="/Videos/Edit/@video.Id">Edit</a>
                        <a href="/Videos/Delete/@video.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

    <VideoPager Model="pager" PageIndexChanged="PageIndexChanged"></VideoPager>
<div class="d-flex"> 
    @pager.PageCount
</div>

@code {
    private PagerBase pager = new PagerBase()
    {
        PageNumber=1,
        PageIndex =0,
        PageSize = 4,
        PagerButtonCount = 5,
    };

    List<Video> videos = new List<Video>();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(200); // 3초 대기
        pager.PageIndex = 0;
        pager.PageNumber =1;

        var pagingData = await _repository.GetVideosByPageAsync(pager.PageIndex, pager.PageSize);
        pager.RecordCount = pagingData.TotalRecords;
        videos = pagingData.Records.ToList();

        StateHasChanged(); // 현재 컴포넌트 재로드
    }

    private async void PageIndexChanged(int pageIndex)
    {
        pager.PageIndex = pageIndex;
        pager.PageNumber = (pageIndex + 1);

        var pagingData = await _repository.GetVideosByPageAsync(pager.PageIndex, pager.PageSize);
        pager.RecordCount = pagingData.TotalRecords;
        videos = pagingData.Records.ToList();

        StateHasChanged(); // 현재 컴포넌트 재로드
    }
}
